<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iamjunhyeok.bulletinboardsystem.mapper.UserMapper">
    <insert id="join" parameterType="com.iamjunhyeok.bulletinboardsystem.dto.UserDto">
        INSERT INTO USER (
            USER_ID
            , PASSWORD
            , SALT
        ) VALUES (
            #{userId}
            , #{password}
            , #{salt}
        )
    </insert>

    <select id="findByUserId" resultType="com.iamjunhyeok.bulletinboardsystem.dto.UserDto">
        SELECT * FROM USER WHERE USER_ID = #{userId}
    </select>

    <select id="findById" resultType="com.iamjunhyeok.bulletinboardsystem.dto.UserDto">
        SELECT * FROM USER WHERE ID = #{id}
    </select>

    <select id="findByUserIdAndPassword" resultType="com.iamjunhyeok.bulletinboardsystem.dto.UserDto">
        SELECT * FROM USER WHERE USER_ID = #{userId} AND PASSWORD = #{password}
    </select>

    <select id="findByIdAndPassword" resultType="com.iamjunhyeok.bulletinboardsystem.dto.UserDto">
        SELECT * FROM USER WHERE ID = #{id} AND PASSWORD = #{password}
    </select>

    <select id="getSaltByUserId" resultType="String">
        SELECT SALT FROM USER WHERE USER_ID = #{userId}
    </select>

    <select id="getSaltById" resultType="String">
        SELECT SALT FROM USER WHERE ID = #{id}
    </select>

    <update id="changePassword">
        UPDATE USER
        SET PASSWORD = #{password}, SALT = #{salt}
        WHERE ID = #{id}
    </update>

    <update id="updateDeleteFlag">
        UPDATE USER
        SET DELETE_FLAG = #{deleteFlag}
        WHERE ID = #{id}
    </update>
</mapper>